<article>
  <div class="container-articles">
    <h2>{{ data.name }}</h2>
    <article>
      <p>Number of characters seen in this episode:</p>
      <span>{{numbersCharacters}}</span>
    </article>
    <article>
      <p>some characters in this episode are:</p>
      <div class="maxW">
        <span
          >Rick, Morty, jess, laura, sdf, asdf , asdf , sadf ,asdf fasd</span
        >
      </div>
    </article>
  </div>
  <footer class="footer-article">
    <h6>{{ data.air_date }}</h6>
    <h6>{{ data.episode }}</h6>
  </footer>
</article>
