@use '@angular/material' as mat;
@include mat.core();
@import '../../../../assets/scss/~variables.scss';

header{
  background-color: $bg-light;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: center;
  nav{
    width: $max-width;
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.container-img{
      width: 150px;
      img{
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

.darkTheme-bg{
  background-color: $bg-dark;
}
