<div class="container-principal">
  <app-button-back></app-button-back>
  <div class="container-character-info">
    <div class="container-img">
      <img [src]="character.image" [alt]="character.name" />
    </div>
    <article class="container-articles">
      <h1>{{ character.name }}</h1>
      <article class="container-info">
        <article>
          <h3>Status</h3>
          <article>
            <p>Alive -</p>
            <span
              class="circle"
              [ngClass]="{
                'alive': character.status === 'Alive',
                'dead': character.status === 'Dead',
                'unknown': character.status === 'unknown'
              }"
              [matTooltip]="statusToolTip()"
              matTooltipPosition="above"
            ></span>
          </article>
        </article>
        <article>
          <h3>Species</h3>
          <p>{{ character.species }}</p>
        </article>
        <article>
          <h3>Gender</h3>
          <p>{{ character.gender }}</p>
        </article>
        <article>
          <h3>Origin</h3>
          <p>{{ character.origin.name }}</p>
        </article>
        <article>
          <h3>First seen in:</h3>
          <p>Raising Gazorpazorp</p>
        </article>
        <article>
          <h3>Last known location:</h3>
          <p>{{ character.location.name }}</p>
        </article>
      </article>
    </article>
  </div>
  <div class="container-others">
    <h1>Others {{ firstName }}</h1>
    <app-characters-rm [notPreLoadData]="true"></app-characters-rm>
  </div>
</div>
