<div class="container-principal">
  <app-button-back></app-button-back>
  <article class="container-articles">
    <h1>{{ episode.name }}</h1>
    <article class="container-sub-articles">
      <article>
        <h2>Number of characters:</h2>
        <p>{{ episode.characters.length }}</p>
      </article>
      <article>
        <h2>Episode:</h2>
        <p>{{ episode.episode }}</p>
      </article>
      <article>
        <h2>Air date:</h2>
        <p>{{ episode.air_date }}</p>
      </article>
    </article>
  </article>
  <div class="container-residents">
    <h1 *ngIf="data.length > 0">Characters:</h1>
    <h1 *ngIf="data.length <= 0">Not characters</h1>
    <app-characters-rm
      [notPreLoadData]="false"
      [preLoadData]="data"
    ></app-characters-rm>
  </div>
</div>
