article.container-articles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h2{
    color: #4070a4;;
  }
  article{
    display: flex;
    justify-content: space-between;
    h4{
      color: #6a9757
    }
    p::first-letter{
      text-transform: uppercase;
    }
    .maxW{
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
