<mat-tab-group>
  <mat-tab label="Characters">
    <div class=" container-cards">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </mat-tab>
  <mat-tab label="Episodes">
    <div class="container-cards">
      <app-card [data]="episode"></app-card>
      <app-card [data]="episode"></app-card>
      <app-card [data]="episode"></app-card>
      <app-card [data]="episode"></app-card>
    </div>
  </mat-tab>
  <mat-tab label="Locations">
    <div class="container-cards">
      <app-card [data]="locationRM"></app-card>
      <app-card [data]="locationRM"></app-card>
      <app-card [data]="locationRM"></app-card>
      <app-card [data]="locationRM"></app-card>
    </div>
  </mat-tab>
</mat-tab-group>
